*{
    margin: 0;
    padding: 0;
}
nav{
    width: 1600px;
    height: 92px;
    background-color: #FFFFFF;
   
}
.navbar{
   display: flex;
   justify-content: space-around;
   align-items: center;
 
}


nav .manu{
    width: 365px;
    height: 24px;
    padding: 34px;
    gap:32px;
    display:flex;
    list-style: none;
    align-items: center;
    font-weight: 500px;
    color: #000000;
}
.manu li a{
        text-decoration: none;
}
.nav-img{
    margin-left: 120px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 139px;
    height: 60px;;
}
.nav-btn button{
    padding: 12px 16px;
    background-color: #469165;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 120px;
    width: 164px;
    height: 44px;
   text-align: center;
   border: none;
   color: #FFFFFF;
   font-weight: 600;
   border-radius: 4px;
   cursor: pointer;
}


.banner{
    height: 674px;
    background-image: url(../images/hero-bg.png);
     display: flex;
    justify-content: center; 
}

.banner-container
{
    height: 379px;
    width: 1360px;
    margin: 115px 120px 180px;
} 
.container{
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 1360;
    height: 295px;
   
}
.container-head{
    width: 770px;
    height: 168px;
 
    margin-top: 16px;
    font-size: 72px;
    text-align: center;
    font-weight: bold;
    line-height: 84px;
}
.access-btn{
    border: none;
    height: 35px;
    width: 229px;
    border-radius: 100px;
    color: #469165;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    display: flex;
    justify-content: center;
    gap:6px;
    cursor: pointer;

}
.access-btn img{
    width: 16px;
    height: 16px;
}
.container-head .white{
    color: #FFFFFF;
}
.container-head .green{
    color:#30B868;
}
.container-p{
    width: 1360px;
    height: 60px;
    justify-content: center;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center
}

.btn-bnr{
    width: 465px;
    height: 52px;
  
    display: flex;
    gap:16px;
    margin-top: 32px;
    margin-left: 447px;
}
.btn-bnr1{
    border: none;
    border-radius: 4px;
    width: 251px;
    height: 52px;
    color: #FFFFFF;
    background-color: #469165;
    cursor: pointer;
    display: flex;
    padding-left: 16px;
    padding-top: 16.5px;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
}
.btn-bnr2{
    border: none;
    border-radius: 4px;
    width: 198px;
    height: 52px;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-right: 16px;
    padding-top: 16px; 
    gap:10px;
    font-weight: 600;
    font-size: 16px;
}
.btn-bnr2 img{
    height: 20px;
    width: 20px;
    padding-left: 16px;
}









