* {
    margin: 0;
    padding: 0;
}

nav {
    width: 1600px;
    height: 92px;
    background-color: #FFFFFF;

}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;

}


nav .manu {
    width: 365px;
    height: 24px;
    padding: 34px;
    gap: 32px;
    display: flex;
    list-style: none;
    align-items: center;
    font-weight: 500px;
    color: #000000;
}

.manu li a {
    text-decoration: none;
}

.nav-img {
    margin-left: 120px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 139px;
    height: 60px;
}

.nav-btn button {
    padding: 12px 16px;
    background-color: #469165;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 120px;
    width: 164px;
    height: 44px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}


.banner {
    width: 1600px;
    height: 674px;
    background-image: url(../images/hero-bg.png);
    display: flex;
    justify-content: center;
}

.banner-container {
    height: 379px;
    width: 1360px;
    margin: 115px 120px 180px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1360;
    height: 295px;

}

.container-head {
    width: 770px;
    height: 168px;

    margin-top: 16px;
    font-size: 72px;
    text-align: center;
    font-weight: bold;
    line-height: 84px;
}

.access-btn {
    border: none;
    height: 35px;
    width: 229px;
    border-radius: 100px;
    color: #469165;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    display: flex;
    justify-content: center;
    gap: 6px;
    cursor: pointer;

}

.access-btn img {
    width: 16px;
    height: 16px;
}

.container-head .white {
    color: #FFFFFF;
}

.container-head .green {
    color: #30B868;
}

.container-p {
    width: 1360px;
    height: 60px;
    justify-content: center;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center
}

.btn-bnr {
    width: 465px;
    height: 52px;

    display: flex;
    gap: 16px;
    margin-top: 32px;
    margin-left: 447px;
}

.btn-bnr1 {
    background-color: #469165;
    width: 251px;
    height: 52px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #FFFFFF;
    font-weight: 600px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-bnr2 {
    border: none;
    border-radius: 4px;
    width: 198px;
    height: 52px;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-right: 16px;
    padding-top: 16px;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
}

.btn-bnr2 img {
    height: 20px;
    width: 20px;
    padding-left: 16px;
}



.section-card {
    width: 1600px;
    height: 448px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-head {
    width: 1360px;
    height: 152px;
    text-align: center;
    color: #627382;
}

.card-header {
    width: 1360px;
    height: 116px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 48px;
    color: #001931;

}

.card-container {
    width: 1360px;
    height: 300px;
    display: flex;
    gap: 24px;
}

.card {
    width: 322px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    gap: 16px;
}

.card h6 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}

.card-img {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F95555;
}

.card-img img {
    width: 32px;
    height: 32px;
}


.section-3rd {
    width: 1600px;
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;



}

.section-3rd-container {
    width: 1360px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;

    gap: 60px
}

.section-3rd-img {
    height: 600px;
    width: 600px;
    border-radius: 12px;
}

.container-3rd {
    width: 700px;
    height: 396px;

}

.section-3rd .up {
    width: 700px;
    height: 228px;



}

.up .p1 {
    color: #469165;
    font-weight: 500;
}

.up-h6 {
    width: 700px;
    height: 116px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.up h6 {
    font-weight: bold;
    font-size: 48px;
    width: 80%;
}

.up .p2 {
    color: #627382;
    width: 57%;
}


.down {
    width: 700px;
    height: 128px;
    line-height: 16px;
    margin-top: 40px;
}

.down ul {

    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.down ul li {
    display: flex;
    align-items: center;
    font-size: 20px;
}


.section-4th {
    width: 1600px;
    height: 506px;

}

.section-4th-container {
    width: 1360px;
    height: 384px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    background-color: #F7F6F2;
}

.container-up {
    width: 1280px;
    height: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}

.container-up p {
    width: 41%;
    color: #627382;
    line-height: 24px;
}

.container-up h5 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}

.container-down {
    width: 1280px;
    height: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.container-down button {
    background-color: #469165;
    width: 194px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #FFFFFF;
    font-weight: 600px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container-down p {
    color: #627382;
    font-size: 16px;
}


footer {
    width: 1600px;
    height: 348px;
    background-color: #001931;
    box-sizing: border-box;
    padding-left: 120px;
    padding-top: 120px;
    padding-right: 120px;
}

.footer-up {
    width: 1360px;
    height: 64px;
    display: flex;
    justify-content: space-between;
}

.footer-up .footer-head {
    width: 220px;
    height: 64px;
    color: #FFFFFF;
    /* display: flex;
    flex-direction: column; */
    gap: 16px;
}

.footer-up .footer-head h6 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-down {
    width: 1360px;
    height: 54px;
    color: #FAFAFA;
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}


.footer-icon {
    height: 20px;
    width: 20px;
    background-color: #FAFAFA;
    display: inline;
    border-radius: 100%;
    margin-right: 16px;
}